body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	background-color: aquamarine;
	background-image: url("http://www.ghibli.jp/images/kaguya1.jpg"); 
	/* background-attachment: inherit; */
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
		monospace;
}

header {
	background-color: #CDB3BC;
	text-align: center;
	height: 8vh;
	padding-top: 10px;
}

header h1 {
	line-height: 5px;
}

.cardHolder {
	background-color: #8F6372;
	display: grid;
	width: 55vh;
	height: 55vh;
	grid-template-columns: 1fr 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr 1fr;
	margin: auto;
	padding: 2px;
}

.card {
	background-color: #EADDE1;
	border: 3px solid #724353;
	border-radius: 15px;
	/* margin: 1px; */
	padding-top: 3vh;
	width: 13vh;
	height: 7vh;
	text-align: center;
	/* font-size: 1em; */
}

.details {
	background-color: #EADDE1;
	border: 1px solid#724353;
	padding: 1rem;
	width: 400px;
	margin: auto;
}

.details h2 {
	font-weight: 400;
	background-color: #CDB3BC;
}
